[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  VITE_BACKEND_URL = "https://health-monitor-uyt6.onrender.com"
  VITE_EMAIL_TO = "ginnysangral786@gmail.com"
